
<div class="embed">

	<div class="interactive_target_column main-col">

		<div id="headline_container">

			<div id="headline_selection">

				<div class="figureTitle">{{headline}}</div>

				<div class="subTitle">{{{description}}} <span id="description_explainer"></span></div>

			</div>

		</div>

		<div id="dropdown_selection_container">
			
			<div id="dropdown_selection">

				Currently showing: 

                <select value='{{displayGeo}}'>

                    {{#googledoc}}

                        <option value='{{this.id}}'>{{this.dropdown}}</option>

                    {{/googledoc}}

                </select>

			</div>

		</div>


	<div class="navigation-container" id="navbar">

		<div class="searchbox-container">

            <div id="cityselect">

            	{{#if dropCity}}Over the city of: {{/if}}

                <select value='{{displayCity}}'>

                	{{#if dropCity}}{{else}}<option selected value='-1'>Select a city...</option>{{/if}}

                    {{#cities}}

                        <option value='{{this.id}}'>{{this.city}}</option>

                    {{/cities}}

                </select>

            </div>

			{{#if geolocation}}

				{{#if isApp}}

				{{else}}

				<div class="geo-switch" on-tap="['geo']"></div>

				{{/if}}

			{{/if}}

            <div id="searchbox">

                <div class="{{#if isApp}}app-holder isApp{{else}}inputbox-holder{{/if}}">

                    <form autocomplete="off">

                        <input on-keydown='keydown' class="frontier-sr-only" id="inputbox" placeholder="Search for more towns and cities" size="90" type="text" value="{{user_input}}">

                    </form>

                    <div id="results">
                    	
                    	{{#if list}}

						<ul>

							{{#each postcodeShortlist}}

							<li on-tap="['postcode', latitude, longitude]">{{meta}}</li>

							{{/each}}

						</ul>

                    	{{/if}}

                    </div>

                </div>

            </div>

        </div>

    </div>

	</div>

	<div id="map_container">
		
		<div id="map"></div>

	</div>

	<!-- <div id="map_caption">Source: Guardian graphic: {{source}}</div> -->

</div>